#body
{vlink:white;
background:#eeeeee;
font-family: arial;
font-size:20px;
color:BLUE;
}

#anadiv
{background:#cccccc; width:920px; height:780px; margin-left:auto; margin-right:auto; margin-top:20px; border: 1px solid blue;}
#banner
{width:900px; height:116px; margin-left:10px; margin-right:10px; margin-top:10px; border: 1px solid yellow; float:left;}
#menu
{
	width: 900px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border: 1px solid gray;
	background-color: #800000;
	color: #CCC;
	padding-top: 10px;
	float: left;
}
#icerik
{width:900px; height:480px; margin-left:10px; margin-right:10px; margin-top:10px; border: 1px solid purple; float:left;}
#footer1
{width: 900px;height: 40px; margin-left: 10px;margin-right: 10px; margin-top: 10px; border: 1px solid black; float: left;}
